.navbar__link {
    margin: 0 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar__link:hover {
    text-decoration: underline;
  }
  
  .navbar__link--active {
    font-weight: 600;
    border-bottom: 2px solid currentColor;
  }
  

  /* In NavBar.css */
.navbar-custom {
    height: 50px; /* Adjust this value as needed */
  }
  
  .navbar-custom .navbar-brand {
    padding: 0.25rem 0; /* Adjust padding to fit within the smaller height */
  }
  
  .navbar-custom .navbar-toggler {
    padding: 0.25rem 0.75rem; /* Adjust padding for the toggler button */
  }
  
  .navbar-custom .navbar-nav .nav-link {
    padding: 0.25rem 1rem; /* Adjust padding for the nav links */
  }
  